<%- include('partials/header') %>

<h2>All Posts</h2>

<% if (posts.length === 0) { %>
  <p>No posts yet. <a href="/new">Add one!</a></p>
<% } else { %>
  <% posts.forEach(post => { %>
    <div class="post">
      <p><strong><%= post.author %></strong> <em>(<%= post.date %>)</em></p>
      <p><%- post.content %></p> <!-- safe sanitized HTML -->
    </div>
  <% }) %>
<% } %>

<%- include('partials/footer') %>
